.App {
	font-size: 2rem;
}

h1 {
	font-size: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.logo {
	height: 100px;
	position: fixed;
	z-index: -1;
	top: 25px;
	left: 15px;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

label {
	font-weight: bold;
}

input {
	height: 3rem;
	margin: 0;
	font-size: 2rem;
	margin-right: 0.2rem;
	text-align: center;
}

button {
	height: 3rem;
	margin: 0;
	font-size: 1.5rem;
}

.output {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 3rem;
}

.history {
	margin-top: 2rem;
	border-top: 1px solid #eaeaea;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.history-clear {
	height: auto;
	font-size: 0.75rem;
	position: absolute;
	right: 1rem;
	top: 0.125rem;
}
